.date-add{
    bottom: 0px;
    top: inherit;
    right: 0px;
}

#main-menu .navbar-header {   
    background: #337ab7;
    color: #fff;  
}

.panel-default {
    margin: 10px -15px;
}
.img-responsive.real-estate{
    max-height: 300px;
}